@model UniversityMS.Models.Teacher

@{
    ViewBag.Title = "Save Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Save Teacher</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "saveTeacherForm", name = "saveTeacherForm" }))
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherName, new { @class = "control-label col-md-2", @for = "TeacherName" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TeacherName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeacherName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherAddress, new { @class = "control-label col-md-2", @for = "TeacherAddress" })
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.TeacherAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeacherAddress)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherEmail, new { @class = "control-label col-md-2", @for = "TeacherEmail" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TeacherEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeacherEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherContactNo, new { @class = "control-label col-md-2", @for = "TeacherContactNo" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TeacherContactNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeacherContactNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesignationId, new { @class = "control-label col-md-2", @for = "DesignationId" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.DesignationId, (SelectList)ViewData["designations"], "Select Designation", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DesignationId)
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Department", new { @class = "control-label col-md-2", @for = "DepartmentId" })
            <div class="col-md-3">
                @Html.DropDownList("DepartmentId", (SelectList)ViewData["departments"], "Select Department", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TakenCredit, new { @class = "control-label col-md-2", @for = "TakenCredit" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TakenCredit, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TakenCredit)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="SaveTeacherButton" name="SaveTeacherButton" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>

} 
