@model UniversityMS.Models.Student

@{
    ViewBag.Title = "View Student Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Student Result</h2>
<hr />
<div id="result">
    @using (Html.BeginForm("ViewStudentResult", "Student", FormMethod.Post, new { id = "viewResultForm", name = "viewResultForm" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.RegistrationCode, new {@class = "control-label col-md-2", @for = "RegistrationCode"})
                <div class="col-md-3">
                    @Html.DropDownList("StudentId", (SelectList) ViewData["students"], "Select Reg. No.", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.StudentId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StudentName, new {@class = "control-label col-md-2"})
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.StudentName, new {@class = "form-control", @readonly = "readonly"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StudentEmail, new {@class = "control-label col-md-2"})
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.StudentEmail, new {@class = "form-control", @readonly = "readonly"})
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Department", new {@class = "control-label col-md-2"})
                <div class="col-md-3">
                    @Html.TextBox("departmentId", null, new {@class = "form-control", @readonly = "readonly"})
                </div>
            </div>
        </div>
        <div class="col-md-12">
        <input type="hidden" name="GridHtml" />
        <input type="submit" value="Print Result(PDF)" id="createPdf" name="createPdf" class="btn btn-primary" style="float: right; margin-bottom: 5px"/>
        @*@Html.ActionLink("Print Result(PDF)", "PrintResult", "Student", new {style = "float: right; margin-bottom: 5px"})*@
    </div>
    }
    

    <table class="table table-bordered table-hover table-striped table-light" id="studentResult">
        <tr class="thead-dark">
            <th>
                @Html.DisplayName("Course Code")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Garde")
            </th>
        </tr>

        <tbody id="tableBody"></tbody>
    </table>
</div>



